fastapi==0.118.0
uvicorn[standard]==0.37.0
sqlalchemy==2.0.43
alembic==1.16.5
psycopg2-binary==2.9.10
python-multipart==0.0.20
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.11.9
pydantic-settings==2.11.0
python-dotenv==1.1.1
sqladmin==0.18.0
python-multipart==0.0.20
